@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Share styles */
.display-flex{
    display: flex;
}
/* Dark02 */
.text-gray{
    color: #424242;
}
/* Dark03 */
.text-ligh-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.text-black{
    #131313
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main,footer{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  /* header style */


  /* Navbar styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 50px;
  }
  .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* banner style */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  }
  .banner-description{
    font-size: 1rem;
    margin-bottom: 33px;
  }
  .banner-image{
    width: 100%;
  }

  /* team and feature style */
  .teams{
    align-items: center;
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  .our-features{
    margin-left: 130px;
    max-width: 530px;
  }
 
  .feature-description{
    font-family: 1rem;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  #quick-list{
    font-weight: 500;
  }

  /* features style */
  .features{
    gap: 140px;
  }
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: #131313;
  margin-top: 0;
  margin-bottom: 0;
  
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -100px;
  margin-left: -100px;
}
#exprience-year{
  font-size: 4rem;
  font-weight: 700;
}
.features-architect img{
  width: 100%;
}


  /* some facts styel */
  .fact-description{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
  }
  /* sponsor style */
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sponsors-company img{
    filter: grayscale(100%);
  }

  /* Responsive Media Query */
  @media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
        
    }
    .team-img-container, 
    .facts-container,
    .sponsors-company{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-company{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
    #experience-badge{
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  /* footer section */
  .all-right{
    background-color: #FFF4E7;
    text-align: center;
    margin-top: 130px;
    padding: 38px 0;
    margin-bottom: 230px;
  }
  /* Medium size device */

  @media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
        
    }
    .our-features{
        margin-left: 50px auto;

    }
    .sponsors-company,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
        #experience-badge{
          margin-top: 20px;
          margin-left: 20px;
        }
  }